/* navigation bar */
.navbar {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
    background-color: #000;
}

/* top-level <li> nav items */
.nav-item {
	display: flex;
	flex-direction: column;
    position: relative;
    background-color: #ccc
}

/* top-level nav <a> links */
.nav-link {
	display: flex;
	padding: 1rem;
	text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

/* dropdown menus */
.has-submenu {
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
	border: 1px solid #ccc;
}

/* show dropdown on hover */
.nav-item:hover .has-submenu {
	display: block;
}

/* submenu items */
.has-submenu .nav-item {
	display: block;
}

/* submenu links */
.has-submenu .nav-link {
	padding: 5px 10px;
}

/* submenu items with nested submenus */
.has-submenu .has-submenu {
	top: 0;
	left: 100%;
	margin-left: 1px;
	margin-top: -1px;
}
