.playground-header {
	color: hsl(0, 68%, 46%);
	text-transform: uppercase;
	padding-top: 3.25rem;
}

#html-tag-group-links {
	font-size: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ccc;
	position: sticky;
	top: 0;
	width: 100%;
	margin-bottom: 2rem;
	list-style: none;
}

#html-tag-group-links li {
	list-style: none;
}

ul.list-level-2,
ul.list-level-3 {
	display: none;
}