

/* navigation bar */
.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff000;
    position: sticky;
    top: 0;
}
