:host {
    --color-dk: hsl(330, 14%, 8%);
    --color-md: hsl(323, 10%, 25%);
    --color-lt: hsl(58, 100%, 98%);
    --color-primary: hsl(37, 100%, 50%);
    --color-secondary: hsl(324, 100%, 50%);
    --color-secondary-dk: hsla(324, 100%, 30%);
    --width: 6.5rem;
    --border-radius: 0.25rem;
}

ul,
li,
a,
p {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Contains the UL navbar */
nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0.5rem;
    font-family: "fira code", sans-serif;
}

/* Top-level navigation container */
ul.navbar {
    display: flex;
    flex-direction: row;
    border-radius: 0.75rem;
    background-image: linear-gradient(
        to bottom,
        var(--color-dk),
        var(--color-md)
    );
}

/* nav-item container - all */
li.nav-item {
    display: flex;
    justify-content: space-around;
    width: var(--width);
    position: relative;
}

/* hover rounds corners for top-level nav */
ul.navbar > li:hover {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/* hide both sub menus */
ul.sub-menu,
ul.nested-sub-menu {
    display: none;
    position: absolute;
    top: 100%;
}

/* hover displays sub menus */
li:hover > ul.sub-menu,
li:hover > ul.nested-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* set nested-sub-menu to the right */
ul.nested-sub-menu {
    position: absolute;
    top: 0%;
    left: 95%;
    z-index: -1;
}

/* ensures nested-sub-menu is wide enoughs */
ul.nested-sub-menu > li.nav-item {
    width: calc(var(--width) + 2rem);
}

/*  link - general */
a.nav-link {
    color: var(--color-lt);
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5rem 0rem;
}

a.nav-link:hover {
    color: var(--color-lt);
}

/* hover bg gradient - nav */
li.nav-item:hover {
    background-image: linear-gradient(
        to bottom right,
        var(--color-primary),
        var(--color-secondary)
    );
}

/* hover bg gradient - sub-menu */
li.nav-item:hover > ul {
    background-image: linear-gradient(
        to top right,
        var(--color-primary),
        var(--color-secondary)
    );
    box-shadow: var(--color-dk) 0px 20px 30px -10px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* hover bg gradient - nested-sub-menu */
li.nav-item:hover > ul.nested-sub-menu {
    background-image: linear-gradient(
        to right,
        var(--color-secondary-dk) 5%,
        var(--color-secondary),
        var(--color-primary)
    );
    border-radius: var(--border-radius);
}

/* hover dark bg gradient - sub-menu  */
ul.sub-menu > li.nav-item:hover {
    background-image: linear-gradient(
        to left,
        var(--color-dk),
        var(--color-md)
    );
}

/* hover dark bg gradient - sub-menu last item round bottom corners  */
ul.sub-menu > li.nav-item:hover:last-of-type {
    border-radius: inherit;
}

/* hover dark bg gradient - sub-menu last item round bottom corners  */
ul.sub-menu > li.nav-item:hover:first-child {
    border-right: 1px solid var(--color-secondary);
}

/* hover dark bg gradient - nested-sub-Menu  */
ul.nested-sub-menu > li.nav-item:hover {
    background-image: linear-gradient(
        to right,
        #000 5%,
        var(--color-dk),
        var(--color-md)
    );
    border-radius: inherit;
}
